* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1rem 2.25rem;
    /*  背景图定位 / 背景图尺寸  cover 完全铺满容器  contain 完整显示在容器内 */
    background-image: linear-gradient(to top, #fff1eb 0%, #ace1f973 100%);
    background-size: cover;
    /* 行高是字体1.15倍 */
    line-height: 1.15;
  }
.mainbox {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.125rem 0.125rem 0;
  }
  .mainbox .column {
    flex: 5;
  }
  .mainbox .column:nth-child(2) {
    flex: 3;
    margin: 0 0.125rem 0.1875rem;
  }
  .mainbox .panel {
    position: relative;
    height: 6rem;
    border: 1px solid #5cb8e246;
    background: url(../imagesne.png) rgba(128, 108, 90, 0.048);
    padding: 0 0.1875rem 0.5rem;
    margin-bottom: 0.1875rem;
  }
  .mainbox .panel::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #55aed8;
    border-top: 2px solid #55aed8;
    content: '';
  }
  .mainbox .panel::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #55aed8;
    border-top: 2px solid #55aed8;
    content: '';
  }
  .mainbox .panel .panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .mainbox .panel .panel-footer::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #55aed8;
    border-bottom: 2px solid #55aed8;
    content: '';
  }
  .mainbox .panel .panel-footer::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #55aed8;
    border-bottom: 2px solid #55aed8;
    content: '';
  }
  .mainbox .panel h2 {
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: rgb(22, 20, 20);
    font-size: 0.25rem;
    font-weight: 400;
  }
  .mainbox .panel .chart {
    height: 3rem;
  }
  .ciyun2 img{
    height: 5rem;
    width: 7rem;
  }

  #contents{
    overflow-x: hidden;
    overflow-y: auto;
  }
  #contents::-webkit-scrollbar {
    display: none;
  }
  #audio_songdl{
    overflow-x: hidden;
    overflow-y: auto;
  }
  #audio_songdl::-webkit-scrollbar {
    display: none;
  }

 .img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  .user_img {
    float: left;
    padding-left: .125rem;
    padding-top: .125rem;
    padding-right: .125rem;
    height: .375rem;
    width: .375rem;
  }
  #user {
    clear: both;
    
  }
  .user_name {
    padding-top: .1875rem;
    padding-left: .975rem;
  }
  .content {
    padding-top: .0625rem;
    padding-left: .125rem;
    border-bottom: 1px solid #81b3a834;
    line-height: .495rem;
  }
  p{
    text-indent: 2em;
  }

  .detail_img{
    float: left;
  }
  .detail_img img{
    margin-left: .375rem;
    width: 3.75rem;
    height: 5.05rem;
    border-radius: .0625rem;
  }
  
  .info{
    line-height: .525rem;
    padding-top: .475rem;

  }

  .title{
    padding-left: 6.8375rem;
    margin-bottom: .375rem;
  }

  .ciyun2{
    text-align: center;
  }

  .hot_content{
    height: 5.25rem;
    overflow-y: scroll;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: rgba(204, 204, 204, 0);
  } /* 滚动条的滑轨背景颜色 */
  
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(204, 204, 204, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ccc;
  } 

 .actor_detail_img{
    float: left;
    width: 3.75rem;
    height: 5.05rem;
    margin-left: .375rem;
    border-radius: .0625rem;
    overflow: hidden;
  }
  .actor_detail_img img{
    width: 100%;
    height: 100%;
    border-radius: .0625rem;
  }
  .actor_detail_img img:hover{
    width: 100%;
    height: 100%;
    transform: scale(1.05);
  }
  
  .actor_info{
    line-height: .525rem;
    padding-top: .475rem;

  }

  .actor_title{
    padding-left: 4.5375rem;
    margin-bottom: .375rem;
  }