<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./2.css">
</head>

<body>

  <section class="mainbox">
    <div class="column">
      <div class="panel bar">

        <div class="movie">
          <h2> </h2>
        </div>
        <div class="detail">
          <div class="detail_img">
            <img src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2881708092.webp">
          </div>
          <div class="info">
            <div class="title">
              <h1>我的秘密室友 (2022)</h1>
            </div>
            <p>导演: 赵锦焘</p>
            <p>编剧: 蒋丹 / 张瑜洁</p>
            <p>主演: 杨旭文 / 向涵之 / 王萌黎 / 徐凯鑫 / 曹征</p>
            <p>类型: 爱情 / 奇幻</p>
            <p>制片国家/地区: 中国大陆</p>
          </div>


        </div>

      </div>
      <div class="panel line1">
        <h2>折线图-角色逐日贡献度</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>
      <div class="panel bar">
        <h2>热门评论</h2>
        <div class="hot_content">
          <div id="user">
            <div class="user_img">
              <!-- ${normal_contents[j].user.avatarUrl} -->
              <img class="img" src="https://img1.doubanio.com/icon/u162348914-7.jpg">
            </div>
            <div class="user_name">
              <span class="nickname" style="color:#537fb0">百里苏苏</span>
            </div>
          </div>
          <div class="content">
            <p style="color:black; font: size 0.175em;">
              这其实是个大男主剧，前期是悬疑解谜，后期是2021男主与2022男主的博弈与合作。前期看新旧男主与女主欢喜冤家协助破案，后期看新旧男主如何守护女主，避免悲剧重现。</p>
          </div>
  
          <div id="user">
            <div class="user_img">
              <!-- ${normal_contents[j].user.avatarUrl} -->
              <img class="img" src="https://img1.doubanio.com/icon/u162348914-7.jpg">
            </div>
            <div class="user_name">
              <span class="nickname" style="color:#537fb0">百里苏苏</span>
            </div>
          </div>
          <div class="content">
            <p style="color:black; font: size 0.175em;">
              这其实是个大男主剧，前期是悬疑解谜，后期是2021男主与2022男主的博弈与合作。前期看新旧男主与女主欢喜冤家协助破案，后期看新旧男主如何守护女主，避免悲剧重现。</p>
          </div>
  
          <div id="user">
            <div class="user_img">
              <!-- ${normal_contents[j].user.avatarUrl} -->
              <img class="img" src="https://img1.doubanio.com/icon/u162348914-7.jpg">
            </div>
            <div class="user_name">
              <span class="nickname" style="color:#537fb0">百里苏苏</span>
            </div>
          </div>
          <div class="content">
            <p style="color:black; font: size 0.175em;">
              这其实是个大男主剧，前期是悬疑解谜，后期是2021男主与2022男主的博弈与合作。前期看新旧男主与女主欢喜冤家协助破案，后期看新旧男主如何守护女主，避免悲剧重现。</p>
          </div>
  
          <div id="user">
            <div class="user_img">
              <!-- ${normal_contents[j].user.avatarUrl} -->
              <img class="img" src="https://img1.doubanio.com/icon/u162348914-7.jpg">
            </div>
            <div class="user_name">
              <span class="nickname" style="color:#537fb0">百里苏苏</span>
            </div>
          </div>
          <div class="content">
            <p style="color:black; font: size 0.175em;">
              这其实是个大男主剧，前期是悬疑解谜，后期是2021男主与2022男主的博弈与合作。前期看新旧男主与女主欢喜冤家协助破案，后期看新旧男主如何守护女主，避免悲剧重现。</p>
          </div>
  
          <div id="user">
            <div class="user_img">
              <!-- ${normal_contents[j].user.avatarUrl} -->
              <img class="img" src="https://img1.doubanio.com/icon/u162348914-7.jpg">
            </div>
            <div class="user_name">
              <span class="nickname" style="color:#537fb0">百里苏苏</span>
            </div>
          </div>
          <div class="content">
            <p style="color:black; font: size 0.175em;">
              这其实是个大男主剧，前期是悬疑解谜，后期是2021男主与2022男主的博弈与合作。前期看新旧男主与女主欢喜冤家协助破案，后期看新旧男主如何守护女主，避免悲剧重现。</p>
          </div>
        </div>
        
      </div>

    </div>
    <div class="column">
      <div class="panel bar2">
        <h2>演员详情</h2>
        <div class="actor_detail">
          <div class="actor_detail_img">
            <img src="https://img2.doubanio.com/view/photo/sqxs/public/p2882165373.webp">
          </div>
          <div class="actor_info">
            <div class="actor_title">
              <h1>杨旭文 Xuwen Yang</h1>
            </div>
            <p>性别: 男</p>
            <p>星座: 白羊座</p>
            <p>出生日期:
            </p>
            <p>1994年04月02日</p>
            <p>出生地: 中国,江苏,南京</p>
            <p>职业: 演员</p>
          </div>

        </div>
      </div>
      <div class="panel bar">
        <h2>角色词云</h2>
        <div class="ciyun2">
          <img src="image/2.jpg"></img>
        </div>

      </div>
      <div class="panel pie">
        <h2>饼形图-正负情绪</h2>
        <div class="chart"></div>
        <div class="panel-footer"></div>
      </div>

    </div>
  </section>

  <script src="js/flexible.js"></script>
  <script src="js/echarts.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>