<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./1.css">
</head>
<body>

    <section class="mainbox">
        <div class="column">
            <h1>剧集角色贡献榜</h1>
            <h3>2022年9月</h3>
            <table>
                <thead>
                  <tr>
                    <th>名次</th>
                    <th>角色名</th>
                    <th>来源剧集</th>
                    <th>演员</th>
                    <th>所属剧份额</th>
                    <th>角色指数</th>
                </thead>
                <tbody>
                    <tr onclick="window.location.href='actor-detail.html'">
                    <td>1</td>
                    <td>方远</td>
                    <td>《底线》</td>
                    <td>靳东</td>
                    <td>9.68%</td>
                    <td>75</td>
                  </tr>
                  <tr onclick="window.location.href='actor-detail.html'">
                    <td>2</td>
                    <td>周亦安</td>
                    <td>《底线》</td>
                    <td>靳东</td>
                    <td>9.68%</td>
                    <td>72</td>
                  </tr>
                  <tr onclick="window.location.href='actor-detail.html'">
                    <td>3</td>
                    <td>方远</td>
                    <td>《底线》</td>
                    <td>靳东</td>
                    <td>9.68%</td>
                    <td>75</td>
                </tr>
                <tr onclick="window.location.href='actor-detail.html'">
                    <td>4</td>
                    <td>方远</td>
                    <td>《底线》</td>
                    <td>靳东</td>
                    <td>9.68%</td>
                    <td>75</td>
                </tr>
                <tr onclick="window.location.href='actor-detail.html'">
                    <td>5</td>
                    <td>方远</td>
                    <td>《底线》</td>
                    <td>靳东</td>
                    <td>9.68%</td>
                    <td>75</td>
                </tr>
                </tbody>
                </table>
        </div>
        <div class="column">
            <h2>角色词云图</h2>
            <div class="ciyun1">
                <image src="./image/1.png" class="ciyun1"></image>
            </div>


        </div>
    
    <script src="js/flexible.js"></script>
</body>
</html>